# Copyright(c) The Maintainers of Nanvix.
# Licensed under the MIT License.

# Toolchain Directories
build-binutils
build-gcc
build-gdb
toolchain

# Build artifacts
bin/
/lib/
images/
target/
/sysroot-debug/
/sysroot-release/
*.a
*.elf
*.exe
*.iso
*.log
*.o
*.obj
*.wasm
Cargo.lock
linuxd.stdout
linuxd.stderr

# IDEs
*.swo
*.swp
*.vscode/
