[submodule "build"]
	path = build
	url = https://github.com/nanvix/build
	branch = dev
[submodule "kernel"]
	path = src/kernel
	url = https://github.com/nanvix/kernel
	branch = dev
[submodule "microvm"]
	path = src/microvm
	url = https://github.com/nanvix/microvm
