[submodule "doc"]
	path = doc
	url = https://github.com/nanvix/documentation
[submodule "tools/dev/toolchain/i386"]
	path = tools/dev/toolchain/i386
	url = https://github.com/nanvix/toolchain
	branch = master
[submodule "tools/dev/toolchain/or1k"]
	path = tools/dev/toolchain/or1k
	url = https://github.com/nanvix/toolchain
	branch = or1k
