# Copyright(c) The Maintainers of Nanvix.
# Licensed under the MIT License.

# Toolchain Directories
build-binutils
build-gcc
build-gdb
toolchain

# Build artifacts
bin/
lib/
target/
*.a
*.o
*.elf
*.iso
Cargo.lock

# IDEs
*.swo
*.swp
*.vscode/
